body {
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
  color: #505962;
}

.name {
  font-size: 2rem;
  color: black;
  padding-top: 12px;
  float: left;
}

.navbar {
  font-size: 1rem;
  background-color: rgb(220,220,220)!important;
}

.navbar{
  -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    width:85% !important;
    margin:0px auto;
    left:0;
    right:0;
    top: 15px;
    padding:0;
    background-color: white!important;

}

.navbar li {
  display: block;
  padding-right: 30px;
}

.navbar-brand img {
  height: 4rem;
  padding-left: 25px;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #800000!important;
}

.navbar-toggler {
  background-color:black!important;
  margin-right: 20px!important;
  width: 40px!important;
  padding-top: 6px;
  padding-bottom: 6px;
}

.navbar-toggler-icon {
  width: 15px !important;
  height: 20px !important;
}

.nav-item {
  padding-left: 10px;
}

.home-inner {
  background-image: url(../luc.jpg)!important;
  opacity: 0.3;
}

.caption {
  color: black!important;
  width: 100%;
  max-width: 100%;
  position: absolute;
  top:38%;
  z-index: 1;
}

.caption h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.cs-underline {
  width:30rem;
  height:.1rem;
  background-color: #800000;
  margin: 0 auto 2rem;
  margin-top: 2rem;
}

.caption h3 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.btn-lg {
  border-width: 2px;
  border-radius: 0;
  border-color: black;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
  color: black;
}

.heading-underline {
  width:21rem;
  height:.05rem;
  background-color: #800000;
  margin: 0 auto 2rem;
  /* margin-top: 2rem; */
}

.heading-underline-jumbotron {
  width:10.5rem;
  height:.05rem;
  background-color: #800000;
  margin: 0 auto 2rem;
}

.ame-heading {
  padding-top: 3rem;
  font-size: 3rem;
  text-align: center;
  /* margin-bottom: .2rem; */
  color: black;
}

.row {
  margin-top: -2rem;
  color: black;
  font-size: 1.2rem;
}

.mem {
  color: gray;
  padding-top: 1rem;
}

.row ul {
  list-style-type: none;
  color: gray;
  font-size: 1rem;
}

.heading {
  text-align: center;
  color: black!important;
  font-size: 3rem;
}

.jumbotron {
  background-color: white;
}


.content-p {
  font-size: 1.2rem;
  color: black!important;
}

.narrow {
  color: white;
}

.narrow ul li {
  list-style-type: none;
}

.clubs-heading {
  font-size: 1.8rem;
  color: black;
}

/* .clubs-text {
  color:black;
  font-size:1.2rem;
} */

.clubs {
  color: black;
  font-size: 1rem;
}

.clubs-heading-underline {
  width:16.5rem;
  height:.05rem;
  background-color: #800000;
  margin: 0 auto 2rem;
}

.suggestions-heading-underline {
  width:16.5rem;
  height:.05rem;
  background-color: #800000;
  margin: 0 auto 2rem;
}
