body {
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
  color: #505962;
}

.name {
  font-size: 2rem;
  color: black;
  padding-top: 12px;
  float: left;
}

.navbar {
  font-size: 1rem;
  background-color: rgb(220,220,220)!important;
}

.navbar{
    width:80% !important;
    margin:0px auto;
    left:0;
    right:0;
    top: 15px;
    padding:0;
    background-color: white!important;

}

.navbar li {
  display: inline;
  padding-right: 30px;
}

.navbar-brand img {
  height: 4rem;
  padding-left: 40px;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #800000!important;
}

.navbar-toggler {
  background-color:black!important;
}

.home-inner {
  background-image: url(../luc.jpg)!important;
  opacity: 0.7;
}

.caption {
  color: black!important;
  width: 100%;
  max-width: 100%;
  position: absolute;
  top:38%;
  z-index: 1;
}

.caption h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.cs-underline {
  width:30rem;
  height:.1rem;
  background-color: #800000;
  margin: 0 auto 2rem;
  margin-top: 2rem;
}

.caption h3 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.btn-lg {
  border-width: 2px;
  border-radius: 0;
  border-color: black;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
  color: black;
}

.heading-underline {
  width:20rem;
  height:.05rem;
  background-color: #800000;
  margin: 0 auto 2rem;
  margin-top: 2rem;
}

.ame-heading {
  font-size: 3rem;
  text-align: center;
  margin-bottom: .2rem;
  color: black;
}

.row {
  margin-top: -2rem;
  color: black;
  font-size: 1.2rem;
}

.heading {
  text-align: center;
  color: black!important;
  font-size: 3rem;
}

.jumbotron {
  background-color: rgb(220,220,220);
}

.content-p {
  font-size: 1.2rem;
  color: black!important;
}
