body {
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
  color: #505962;
}

/* Add padding to ID's */
#about {
  padding-top: 2rem;
}

#opportunities {
  padding-top: 1rem;
}

#clubs {
  padding-top: 5rem;
}

#suggestions {
  margin-bottom: 8rem;
}
/* End padding to ID's */

/* Start link stylings */
a {
  color: #800000;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: none;
}
/* End link stylings */

/* Start navbar styling */
.navbar {
  font-size: 1rem;
  background-color: rgb(220,220,220)!important;
}

.navbar {
  box-shadow: 0 8px 6px -6px #999;
  width: 85%!important;
  margin: 0px auto;
  top: 15px;
  padding: 0;
  background-color: white!important;
}

.navbar li {
  display: block;
  padding-right: 30px;
}

.navbar-brand img {
  height: 4rem;
  padding-left: 25px;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #800000!important;
}

.navbar-toggler {
  background-color:black!important;
  margin-right: 20px!important;
  width: 40px!important;
  padding-top: 6px;
  padding-bottom: 6px;
}

.navbar-toggler-icon {
  width: 15px!important;
  height: 20px!important;
}

.nav-item {
  padding-left: 10px;
}
/* End navbar styling */

/* Start home styling */
.home-inner {
  background-image: url(../luc.jpg)!important;
  opacity: 0.3;
}

.website-caption {
  color: black!important;
  width: 100%;
  max-width: 100%;
  position: absolute;
  top:38%;
  z-index: 1;
}

.caption h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.cs-underline {
  width:30rem;
  height:.1rem;
  background-color: #800000;
  margin: 0 auto 2rem;
  margin-top: 2rem;
}

.caption h3 {
  font-size: 2rem;
  padding-bottom: 4rem;
}

.btn-lg {
  margin-top: 1.5rem;
  border-width: 2px;
  border-radius: 0;
  border-color: black;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
  color: black;
}
/* End home styling */

/* Start ABOUT styling */
.about-heading-underline {
  width:21rem;
  height:.05rem;
  background-color: #800000;
  margin: 0 auto 2rem;
}

.about-heading {
  padding-top: 3rem;
  font-size: 3rem;
  text-align: center;
  color: black;
}

.row {
  margin-top: -2rem;
  color: black;
  font-size: 1.2rem;
}

.about-text {
  margin-bottom: 2.5rem;
}

/* Start picture styling */
.pics {
  /* border-radius: 2px; */
  /* border-style: solid; */
  height: 100%;
  width: 100%;
}

/* Top row of pictures */
.picture-row-top {
  padding-left: 8rem;
  padding-right: 8rem;
}

/* Bottom row of pictures */
.picture-row-bottom {
  padding-left: 8rem;
  padding-right: 8rem;
  justify-content: space-evenly;
}

/* Adding responsivity for images */
@media only screen and (max-width: 1200px) {
  .picture-row-top {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .picture-row-bottom {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
/* Ending responsivity for images */

/* Headshot, name, and information styling */
.pics img {
  width: 100%;
  height: 75%;
  border-radius: 50%;
}

.student-name {
  padding-top: 0.5rem;
  font-size: 1rem;
}

.student-details {
  margin-top: -0.4rem;
  font-size: 0.5rem;
  color: gray;
}
/* End headshot, name, and information styling */

.more-information {
  font-size: 1.3rem;
  padding-top: 2rem;
}
/* End ABOUT styling */

/* Start OPPORTUNITIES styling */
.heading-underline-opportunities {
  width: 18rem;
  height: .05rem;
  background-color: #800000;
  margin: 0 auto 2rem;
}

.heading {
  text-align: center;
  color: black!important;
  font-size: 3rem;
}

.jumbotron {
  background-color: white;
}
/* End OPPORTUNITIES styling */

/* Start GET INVOLVED styling */
.clubs-heading {
  font-size: 1.8rem;
  color: black;
}

.clubs {
  color: black;
  font-size: 1rem;
}

.getinvolved {
  width: 42rem;
  height: .07rem;
  background-color: #800000;
  margin: 0 auto 2rem;
}
/* End GET INVOLVED styling */

/* Start SUGGESTIONS styling */
.suggestions-heading-underline {
  width: 16.5rem;
  height:.05rem;
  background-color: #800000;
  margin: 0 auto 2rem;
}
/* End SUGGESTIONS styling */

/* Start footer styling */
.footer {
  background-color: #800000;
  position: sticky;
  height: 100px;
  bottom: 0;
  width: 100%;
}
/* End footer styling */
